@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --font-sans: var(--font-inter);
  --font-heading: var(--font-outfit);
}

:root {
  /* Premium Light Theme */
  --background: #ffffff;
  /* White */
  --foreground: #020617;
  /* Slate 950 */

  --primary: #ea580c;
  /* Rust Orange */
  --primary-foreground: #ffffff;

  --secondary: #f1f5f9;
  /* Slate 100 */
  --accent: #0e3b71;
  /* Sky 500 */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(12px);
    opacity: 0;
  }
}

.animate-scroll {
  animation: scroll 2s infinite;
}